<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit your chat</title>
  </head>
  <body>
    <h3>Edit your chat - <%= chat._id %></h3>
    <p>
      this chat was sent from<b> <%= chat.from %></b> to <b><%=chat.to %></b>
    </p>
    <form method="POST" action="/chats/<%= chat._id%>?_method=PUT">
      <textarea name="msg" rows="6" cols="50"><%= chat.msg %></textarea>
      <button>Submit</button>
    </form>
  </body>
</html>
